<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebFinance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/finance.css" />
</head>
<body>
    <header>
        <nav class="lateral-menu shadow">
            <div class="title">
                <a>DESPESAS FIXAS</a>
            </div>
            <div class="list-menu">
                <ul>
                    <li><a href="#agua">Agua</a></li>
                    <li><a href="#energia">Energia</a></li>
                    <li><a href="#tvnet">TV/Net</a></li>
                    <li><a href="#telemovel">Telemovel</a></li>
                    <li><a href="#aluguel">Aluger</a></li>
                </ul>
            </div>
            <div class="title">
                <a href="#despesaAvulsa">DESPESAS AVULSAS</a>
            </div>
            <div class="title">
                <a href="#configuracao">CONFIGURAÇÃO</a>
            </div>
        </nav>
    </header>
    <div class="float-left d-inline w-85">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebFinance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
