

<div id="charts">
    <p>InserirCharAqui</p>
</div>
<div id="cards">
    <p>InserirCardsAqui</p>
</div>
<div id="tables">
    <div class="divTables">
        <table id="tableDespesaAvulsa" class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Valor</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">TipoDespesa</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Ano</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div id="despesaAvulsa">

    <form id="despesaAvulsaForm" class="form">
        <h1>Nova despesa</h1>
        <div class="form-left ">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Ano</label>
            <select id="AnoDropDown" class="custom-select mr-sm-2">
            </select>
            <label class="mr-sm-2" for="inlineFormCustomSelect">Mes</label>
            <select id="MesDropDown" class="custom-select mr-sm-2">
            </select>

            <label name="tipoDespesa">tipoDespesa</label>
            <select id="tipoDespesaDropDown" class="custom-select mr-sm-2">
            </select>
        </div>
        <div class="form-right">
            <label name="Valor">Valor</label>
            <input id="despesaAvulsaValor" class="form-control" name="Valor" type="text" placeholder="Valor total" />

            <label name="DataDespesa">DataDespesa</label>
            <input id="despesaAvulsaDataDespesa" class="form-control" name="DataDespesa" type="date" />

            <label name="Descricao">Descricao</label>
            <input id="despesaAvulsaDescricao" class="form-control" name="Descricao" type="text" placeholder="Desc. da despesa" />
        </div>

    </form>
    <div class="buttons">
        <button type="button" class="btn btn-outline-secondary btn-lg">Limpar</button>
        <button id="despesaAvulsaSubmit" type="button" class="btn btn-outline-primary btn-lg">Cadastrar</button>

    </div>
</div>



<script>

    $(document).ready(function () {
        LoadYearMonth();
        function loadDespesaAvulsa() {
            var table = $('#tableDespesaAvulsa');
            clearTable(table);

            $.ajax({
                url: "Home/GetAllDespesaAvulsa",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (data) {
                $(data).each(function (i, item) {
                    $(table).find('tbody').append('<tr>');
                    var tr = $(table).find('tbody tr')[i];
                    $(tr).append('<td>' + item.valor + ' €</td>');
                    $(tr).append('<td>' + item.descricao + '</td>');
                    $(tr).append('<td>' + item.tipoDespesaAvulsaID.nome + '</td>');
                    $(tr).append('<td>' + item.mesID.mesName + '</td>');
                    $(tr).append('<td>' + item.anoID.anoNumber + '</td>');

                });
            })
        }

        $('#despesaAvulsaSubmit').click(function (e) {
            e.preventDefault();
            var pDespesaAvulsa = {
                Valor: $('#despesaAvulsaValor').val().replace(',', '.'),
                DataDespesa: $('#despesaAvulsaDataDespesa').val(),
                Descricao: $('#despesaAvulsaDescricao').val(),
                AnoID: {
                    AnoNumber: $('#AnoDropDown').val(),
                },
                MesID: {
                    MesNumber: $('#MesDropDown').val()
                },
                TipoDespesaAvulsaID: {
                    CodDespesa: $('#tipoDespesaDropDown').val()
                }
            };

            $.ajax({
                url: "Home/AddDespesaAvulsa",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(pDespesaAvulsa),
                dataType: "json"

            }).done(function (data) {
                loadDespesaAvulsa();
            });
        });


        loadDespesaAvulsa();
        loadTipoDespesaAvulsa();

    })
</script>